html {
    background-color: #FD802E
}

.teks {
    font-size: 300%;
    margin-top: auto;
    padding: 5rem;
    text-align: center;
    
}

.intro {
    text-align: center;
}

.btn {
    cursor: pointer;
    background-color: red;
    border-radius: 0.5rem;
    transition: 0.3s ease;
    color: white
    
}

@media screen {
    
}